@CHARSET "ISO-8859-1";
/* Bordered form */
/* Full-width input fields */
input[type=text], input[type=password] {
	
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 20px 22px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 50%;
    }
}
#logdiv
{
	position:relative;
	width:500px;
	height:600px;
	border:3px solid black;
	left:400px;
top:40px;
}
#x
{
position: relative;
width:100%;
height:70%;
border: 1px solid black;
background:white;
}

#logo
{
	position: relative;
	width:150px;
	height: 110px;
}
#a
{
width:100%;
height:1000px;
border: 2px solid black;
background:darkcyan;

}
#fb
{
	position: relative;
	left:990px;
	top:10px;
	
}
#gg
{
	position: relative;
	left:1000px;
	top:10px;
	
}
#tww
{
	position: relative;
	left:1010px;
	top:10px;
	
}

#sup
{
	position: relative;
	left:890px;
	text-decoration:none;
	color:white;
	
}
#siup
{
	position: relative;
	left:900px;
	
	color:white;
	
}
#siin
{
	position: relative;
	left:970px;
	color:white;
	
}
#sin
{
	position: relative;
	left:920px;
	text-decoration:none;
	color:white;
}
#about
{
	color:white;
	text-decoration:none;
}